body {
      font-family: 'Courier New', Courier, monospace;
      background-color: rgb(152, 251, 182);
      margin: 0;
     padding: 0;
}
header {
    background-color: rgb(238, 150, 183);
    color: rgb(155, 239, 239);
    padding: 20px;
    text-align: center;
}
table {
    width: 80%;
    margin: 20px;
    border-collapse: collapse;
    background-color: rgb(234, 234, 110);
}
th, td {
    border: 1px solid red;
    padding: 12px;
    text-align: center;
}
th {
    background-color: rgb(163, 76, 230);
    color: beige;
}
footer{
    background-color: black;
    color: bisque;
    text-align: center;
    padding: 10px;
}
h2 {
    text-align: center;
    font-size: 60px;
}



























